In [2]:
import pandas as pd

In [ ]:
# Load trace from file
df = pd.read_csv("page_eviction_trace_inserts_5.csv")
print(df)

       write_threshold  degree_of_change  page_id  forced_out
0                100.0         71.166992      216           1
1                100.0        233.593750       26           1
2                100.0        170.336914        3           1
3                100.0        222.949219       21           1
4                100.0         73.486328      193           1
...                ...               ...      ...         ...
18515            100.0          4.931641      124           0
18516            100.0          0.756836      818           0
18517            100.0          0.878906      822           0
18518            100.0          6.616211      515           0
18519            100.0         51.220703      159           0

[18520 rows x 4 columns]

In [4]:
df.mean()

write_threshold     100.000000
degree_of_change     10.920808
page_id             304.880508
forced_out            0.250000
dtype: float64

In [5]:
df.max()

write_threshold     100.0000
degree_of_change    570.3125
page_id             839.0000
forced_out            1.0000
dtype: float64

In [6]:
df.min()

write_threshold     100.000000
degree_of_change      0.439453
page_id               1.000000
forced_out            0.000000
dtype: float64

In [9]:
# Calculate how many pages had a certain degree of change at their eviction
# Filter to rows where forced_out == 0
df_no_forced = df[df["forced_out"] == 0]

bins = list(range(0, 101, 5)) + [500]
labels = [f"{i}-{i+5}" for i in range(0, 100, 5)] + [">=100"]
df["bin"] = pd.cut(
    df["degree_of_change"],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True,
)
print(df["bin"].value_counts().sort_index())

bin
0-5       9296
5-10      4235
10-15     1948
15-20      904
20-25      455
25-30      188
30-35      184
35-40      109
40-45       33
45-50      217
50-55      416
55-60      173
60-65       72
65-70       26
70-75       31
75-80       28
80-85       12
85-90        8
90-95       10
95-100      11
>=100      163
Name: count, dtype: int64

In [24]:
df_no_forced.describe()

       write_threshold  degree_of_change      page_id  forced_out
count           1016.0       1016.000000  1016.000000      1016.0
mean             100.0          6.993476   285.381890         0.0
std                0.0         10.647089   164.604149         0.0
min              100.0          0.683594     2.000000         0.0
25%              100.0          2.050781   144.000000         0.0
50%              100.0          4.101562   290.500000         0.0
75%              100.0          7.519531   420.250000         0.0
max              100.0         60.156250   602.000000         0.0

In [21]:
# How many times each page was evicted
df_no_forced["page_id"].value_counts()

page_id
113    6
160    6
426    6
433    5
418    5
      ..
357    1
423    1
279    1
392    1
578    1
Name: count, Length: 519, dtype: int64

In [12]:
# Show all rows where page_id == 299, preserving original order
rows_299 = df[df["page_id"] == 426]
display(rows_299.head(30))

      write_threshold  degree_of_change  page_id  forced_out    bin
4               100.0         59.472656      426           1  50-60
162             100.0          4.101562      426           0   0-10
305             100.0          5.468750      426           0   0-10
477             100.0          6.835938      426           0   0-10
592             100.0          7.519531      426           0   0-10
978             100.0          8.886719      426           0   0-10
1233            100.0         10.937500      426           0  10-20

In [16]:
# Find page_ids that never have forced_out == "true" in any row (string version)
pages_never_forced_str = df.groupby("page_id")['forced_out'].apply(lambda x: not (x == 1).any())
pages_without_forced_str = pages_never_forced_str[pages_never_forced_str].index.tolist()
print(f"Pages that never had forced_out == 'true': {pages_without_forced_str}")
print(f"Count: {len(pages_without_forced_str)}")

Pages that never had forced_out == 'true': []
Count: 0

In [19]:
# Show all rows where forced_out == "true" (string)
rows_forced_out = df[df["forced_out"] == 1]
display(rows_forced_out)

      write_threshold  degree_of_change  page_id  forced_out    bin
0               100.0        200.292969       55           1  >=100
1               100.0        103.906250      187           1  >=100
2               100.0        111.425781      306           1  >=100
3               100.0        153.125000       96           1  >=100
4               100.0         59.472656      426           1  50-60
...               ...               ...      ...         ...    ...
1632            100.0        258.398438       20           1  >=100
1642            100.0        185.742188        3           1  >=100
1644            100.0         57.421875      505           1  50-60
1646            100.0        572.851562        1           1    NaN
1647            100.0         58.789062      503           1  50-60

[633 rows x 5 columns]